<div flex class="md-padding">
	<h2>Music</h2>

	<a ng-if="ctrl.moped.url" href="{{ctrl.moped.url}}">
		<md-button aria-label="moped" style="color: #0b0c0d">Music playlist</md-button>
	</a>

	<div class="md-padding" layout-xs="column" layout="row">
		<md-card ng-repeat="client in ctrl.clients | filter : {connected: true}">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{client.host.name}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<div flex="10" layout layout-align="center center">
					<span class="md-body-1">Volume {{client.volume}}</span>
				</div>
				<md-slider flex class="md-warn" md-discrete ng-model="client.volume" step="10" min="0" max="100" aria-label="volume">

			</md-card-content>
			<md-card-actions layout="column" layout-align="start">
				<md-button ng-click="ctrl.muteClient(client.host.mac)">{{ (client.config.volume.muted == '0') ? 'Mute' : 'Unmute'}}</md-button>
			</md-card-actions>
		</md-card>
	</div>
</div>
