doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/angular-material.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
